[submodule "sdk"]
	path = sdk
url=https://github.com/gitskarios/GithubAndroidSdk.git
[submodule "sdks/GithubAndroidSdk"]
	path = sdks/GithubAndroidSdk
	url = https://github.com/gitskarios/GithubAndroidSdk
