<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alorma.github">

    <uses-permission android:name="com.android.vending.BILLING" />
    <application>
        <activity
            android:name="com.alorma.github.ui.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="@string/oauth_scheme" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Interceptor"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="github.com"
                    android:scheme="http" />
                <data
                    android:host="github.com"
                    android:scheme="https" />
                <data android:pathPattern=".*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.EnterpriseAdActivity"
            android:label=""
            android:theme="@style/EnterpriseTheme" />
    </application>
</manifest>
