<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="com.android.vending.BILLING"/>
  <application>
    <activity
        android:name=".ui.activity.WelcomeActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Welcome"
        android:launchMode="singleInstance"
        >
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>

        <data android:scheme="@string/oauth_scheme"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
