<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alorma.gistsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".GistsApplication">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.alorma.gistsapp.ui.activity.MainActivity">
            <intent-filter android:label="@string/open_gist">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="gist.github.com"
                    android:mimeType="text/*" />
            </intent-filter>
            <intent-filter android:label="@string/open_gist">
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" android:host="gist.github.com" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/open_gist">
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="https" android:host="gist.github.com" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.GistDetailActivity" />
        <activity
            android:name=".ui.activity.CreateGistActivity"
            android:label="@string/create_gist">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <service android:name=".account.AccountService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e331bb7b7ec0167c4cfcc3b095a54a718802f080" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>
